@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.selector-for-some-widget {
    box-sizing: content-box;
  }

* {
    margin: 0;
    padding: 0;
}

.icon-bar {
    background: rgb(209, 15, 15);
}

.logo {
    height: 100px;
    width: 100px;
    padding: 5px 5px;
    cursor: pointer;
}

.navbar-style {
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}
li a {
    color: rgb(0, 0, 0);
}
.large{
    font-size: 20px;
    margin: 20px 0;
    color: rgb(0, 8, 255);
    font-family: "montserrat", sans-serif;
}
a.btn {
    margin: 30px 10px 0;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
a.btn-first {
    background-color: rgb(60, 0, 255);
    color: #fff;
}

a.btn:hover {
    border: none;
    color: #fff;
    background: #efefef (0, 255, 191);
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image {
    margin: 30px 0;
}

.img-responsive {
  
}
.Title {
    text-transform: uppercase;
    margin: 20px 0;
    color: rgb(34, 159, 105);
    text-align: center;
}
